/* 此文件在包含所有页面都共用的全局css */
* {		/* 选择所有元素 */
	/* box-saizing:content-box; 内容盒子 */
	box-saizing:border-box; /* 边框盒子,简化盒子尺寸计算 */
}
body {
	margin: 0;
	color: #555;
	borderground: #fff;
	font-family: "arial, helvetica, sans-serif";	/*字体*/
	font-size: 12px;								/*字体的大小*/
	line-height: 1.667;								/*行高：1.667em*/
}
a {
	color: #555;
	text-decoration: none;
}
a:hover{
	color: #f60;
}